<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Oncle Vanyo is cool </title>
        <link rel="stylesheet" href="./views/bs-3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./views/css/index.css">
        <script src="./views/jq/jquery-3.4.1.min.js"></script>
        <script src="./views/bs-3.4.1/js/bootstrap.min.js"></script>
        <script src="./views/js/app.js"></script>
    </head>
    <body>

        <div class="mobile-container"></div> 
        
        <div id="login-modal-holder"></div> 
        <div id="info-modal-holder"></div> 
        <div id="insert-news-modal-holder"></div> 
        <div id="edit-news-modal-holder"></div> 
        <div id="insert-user-modal-holder"></div> 
        <div id="edit-user-modal-holder"></div> 

        <div id="landing-page"> </div>

        <div id="action-links-holder"></div>

        <div class="container" id="filter-zone" style="width:100%;"> </div>

        <div class="container" id="news-report"> </div>
        <div class="container" id="news-admin-report"> </div>
        <div class="container" id="users-admin-report"> </div>
        
    </body>
</html>


